<!DOCTYPE html>
<html>
<head>
    {% include "head.html" %}
    {% block myHead %}
    {% endblock %}
    
</head>

<body>
    <div id="wrapper">	  
	  
       <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" style="font-weight: 700; font-family: 'Montserrat','Helvetica Neue','Helvetica','Arial','sans-serif'; color: white"><i class="fa fa-play-circle"></i>  <span class="light" style="font-weight: 500;color:#7FED11">INSTA</span>RENT</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                
               
                <li class="dropdown" >
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" ><i class="fa fa-user"></i> <span id="userName">{{ userName }}</span><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li>
                        
                        <li class="divider"></li>
                        <li>
                            <a href="#" id="logoff"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-default side-nav">
                    <li >
                        <a href="/dashboard"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="/managehome"><i class="fa fa-fw fa-desktop"></i> Manage Home</a>
                    </li>
                    <li>
                        <a href="/complaints"><i class="fa fa-fw fa-edit"></i> Complaints Board</a>
                    </li>
                    <li>
                        <a href="/settings"><i class="fa fa-fw fa-wrench"></i> Settings</a>
                    </li>
                    <li>
                        <a href="#" id="pay"><i class="fa fa-fw fa-cc-stripe"></i> Quick Rent Pay</a>
                    </li>
                    <li>
                        <a href="/payments/payment_history"><i class="fa fa-fw fa-credit-card"></i>Payment History</a>
                    </li>
                    <li>
                        <a href="/payments/testLandlord"><i class="fa fa-fw fa-university"></i> Add Bank Account</a>
                    </li>
                    <li>
                        <a href="/reviews"><i class="fa fa-fw fa-pencil"></i>Submit Feedback</a>
                    </li>

                    
                </ul>
            </div>
         </nav>
		 <div id="page-wrapper">
		   <div class="container-fluid">
		     {% block myBody %}
	         {% endblock %}
			</div> 
	    </div>
	
  </div>
	 
	 <script type="text/javascript" src="/javascripts/sign-off.js"></script>
    <script type="text/javascript" src="/js/tenantPayments.js"></script>


    {% include "footer.html" %}
   </body>