{% extends 'partials/layout.html' %}
 
{% block myHead %}
    
    <script src="/javascripts/complaints_registration.js"></script>
    <link href="/stylesheets/complaints.css" rel="stylesheet"/>
    <script src="/javascripts/angular-file-upload.min.js"></script>

{% endblock %}

{% block myBody %}
    {% raw %}


    <div ng-app = "complaintsApp" class="top-buffer">
      <div ng-controller = "complaintsController as ctrl" >

        <div class="panel">
        <div class="panel-body">

        <!-- Page Heading -->
        <div class="row">
          <div class="col-lg-12">
              <h1 class="page-header">
                   Complaints Board
                  <!--to distinguish the landlord and renter-->
              </h1>
              <ol class="breadcrumb">

                <li>
                    <i class="fa fa-dashboard"></i>  <a href="/dashboard">Dashboard</a>
                </li>

                <li class="active">
                    <i class="fa fa-fw fa-edit"></i> Complaints
                </li>

                <li class="active">
                  <!-- <div> -->
                    <button class="btn btn-default" ng-click="ctrl.setMode('categories')" ng-show="ctrl.mode === 'topics'" ><i class="fa fa-arrow-circle-left"></i> Switch Category</button>
                  <!-- </div> -->

                  <!-- <div> -->
                    <button class="btn btn-default" ng-click="ctrl.setMode('topics')" ng-show="ctrl.mode === 'msgs'" ><i class="fa fa-arrow-circle-left"></i> Switch Issue</button>
                  <!-- </div> -->

                  <!-- <div> -->
                    <button class="btn btn-success" ng-show="ctrl.mode === 'topics'" data-toggle="modal" data-target="#createTopicModal"><i class="fa fa-file-text-o"></i> Log a New Issue</button>
                  <!-- </div> -->

                  <!-- <div> -->
                    <button class="btn btn-success" ng-click="ctrl.setDate()" ng-show="ctrl.newMsgButton()" data-toggle="modal" data-target="#createMsgModal"><i class="fa fa-file-text-o"></i> Create a New Message</button>


                  <!-- </div> -->

                </li>

              </ol>
          </div>
        </div>

        <!-- buttons -->
        <div class="panel" ng-show="false">
            
          <!-- <div> -->
            <button class="btn btn-default" ng-click="ctrl.setMode('categories')" ng-show="ctrl.mode === 'topics'" >Switch Category</button>
          <!-- </div> -->

          <!-- <div> -->
            <button class="btn btn-default" ng-click="ctrl.setMode('topics')" ng-show="ctrl.mode === 'msgs'" >Switch Issue</button>
          <!-- </div> -->

          <!-- <div> -->
            <button class="btn btn-success" ng-show="ctrl.mode === 'topics'" data-toggle="modal" data-target="#createTopicModal">Log a New Issue</button>
          <!-- </div> -->

          <!-- <div> -->
            <button class="btn btn-success" ng-show="ctrl.mode === 'msgs'" data-toggle="modal" data-target="#createMsgModal">Create a New Message</button>
          <!-- </div> -->
          
        </div>

        <!-- Create Topic Modal -->
        <div class="modal fade" id="createTopicModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{"New Issue for " + ctrl.selectedCategory + " Category"}}</h4>
              </div>
              <div class="modal-body">
                
                <form>
                  <div class="form-group">
                    <label for="issue">Issue Description:</label>
                    <textarea class="form-control" ng-model="ctrl.newtopic"></textarea>
                  </div>

                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="ctrl.newTopic()" >Create Issue</button>

                </form>

              </div>
            </div>
          </div>
        </div>

        <!-- Topic Deletion Modal -->
        <div class="modal fade" id="deletionInquiry" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{"Confirm deletion of the selected topic?"}}</h4>
              </div>
              <div class="modal-body">
                
                <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="ctrl.deleteTopic(topic)" >Delete</button>

              </div>
            </div>
          </div>
        </div>

        <!-- Change Status Modal -->
        <div class="modal fade" id="statusInquiry" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{"Set Status"}}</h4>
              </div>
              <div class="modal-body">
                
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="ctrl.changeStatus(topic, 0)" >New</button>

                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="ctrl.changeStatus(topic, 1)" >Processing</button>

                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="ctrl.changeStatus(topic, 2)" >Finished</button>

              </div>
            </div>
          </div>
        </div>


        <!-- Create Message Modal -->
        <div class="modal fade" id="createMsgModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{"Creating Message"}}</h4>
              </div>
              <div class="modal-body">
                
                <form>
                  <div class="form-group">
                    <label for="issue">From:</label>
                    <input type="text"  class="form-control" ng-model="ctrl.fromtext" disabled></input>
                  </div>

                  <div class="form-group">
                    <label for="issue">To:</label>
                    <input type="text" class="form-control" ng-model="ctrl.totext" disabled></input>
                  </div>

                  <div class="form-group">
                    <label for="issue">Date:</label>
                    <input type="text" class="form-control" ng-model="ctrl.date" disabled></input>
                  </div>

                  <div class="form-group">
                    <label for="issue">Message:</label>
                    <textarea class="form-control" ng-model="ctrl.newmsg" ></textarea>
                  </div>

                  <div class="form-group">
                    <input type="file" ng-model='files' ng-file-select ng-file-change="onFileSelect(files)" ng-multiple="true" class="app-prompt-upload"/> 
                  </div>

                  <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="ctrl.clear()">Close</button>
                  <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="ctrl.newMsg()">Send</button>

                </form>

              </div>
            </div>
          </div>
        </div>

        <!-- categories -->
        <div ng-show="ctrl.mode === 'categories'" ng-repeat="category in categories" class="panel {{category.css}} clickable" ng-click="ctrl.fetchTopics(category)">
          <div class="panel-heading ">
            {{category.name}} <span class="badge">{{category.count}}</span>
          </div>
          <div class="panel-body" >
            {{category.desc}}
          </div>
        </div>
        


        <!-- topics -->
        <!-- <div ng-show="ctrl.mode==='topics'"> -->
        <!-- <div ng-show="ctrl.mode==='topics'">
          <div> -->
          
          <!-- <div class="panel {{topicstyle[topic.status]}}" ng-repeat="topic in topics">
              <div class="panel-heading">
                  <span class="badge clickable" data-toggle="modal" data-target="#statusInquiry" ng-click="ctrl.setTopic(topic)">{{topic.status}}</span>
                  {{"Created By: " + topic.lastname + ", " + topic.firstname + " <" + topic.userid  + ">" }}
              </div>

              <div class="panel-body clickable" >
                <a ng-click="ctrl.fetchMsgs(topic)">{{topic.name}}</a> -->
                <!-- <em>{{'created on:' + topic.date }}</em> -->
              <!-- </div>

              <div class="panel-footer" >
                {{'Created on:  ' + topic.date.substring(2, 10)}}
                {{'style:  ' + topicstyle[topic.status]}}
                {{'status:  ' + topic.status}}
              </div>

            </div> -->

            <!-- <div class="panel {{topicstyle[rptopic.status]}}" ng-show="false" ng-repeat="rptopic in topics">
              <div class="panel-heading">
                  <span class="badge clickable" data-toggle="modal" data-target="#statusInquiry" ng-click="ctrl.setTopic(rptopic)">{{rptopic.status}}</span>
                  {{"Created By: " + rptopic.lastname + ", " + rptopic.firstname + " <" + rptopic.userid  + ">" }}
              </div>

              <div class="panel-body clickable" >
                <a ng-click="ctrl.fetchMsgs(rptopic)">{{rptopic.name}}</a> -->
                <!-- <em>{{'created on:' + topic.date }}</em> -->
              <!-- </div>

              <div class="panel-footer" >
                {{'Created on:  ' + rptopic.date.substring(2, 10)}}
              </div>

            </div>
          </div>


        </div> -->


        <!-- topics -->
        <div ng-show="ctrl.mode==='topics'">
        <!-- <div> -->
          <div>
          
            <div class="panel {{topicstyle[rptopic.status]}}" ng-show="rptopic.status==='new'" ng-repeat="rptopic in topics">
              <div class="panel-heading" ng-hide="isTenant()">
                  <span class="badge clickable" data-toggle="modal" data-target="#statusInquiry" ng-click="ctrl.setTopic(rptopic)">{{rptopic.status}}</span>
                  {{"Created By: " + rptopic.lastname + ", " + rptopic.firstname + " <" + rptopic.userid  + ">" }}
              </div>

              <div class="panel-heading" ng-show="isTenant()">
                  <span class="badge">{{rptopic.status}}</span>
                  {{"Created By: " + rptopic.lastname + ", " + rptopic.firstname + " <" + rptopic.userid  + ">" }}
              </div>

              <div class="panel-body clickable" >
                <a ng-click="ctrl.fetchMsgs(rptopic)">{{rptopic.name}}</a>
                <!-- <em>{{'created on:' + topic.date }}</em> -->
              </div>

              <div class="panel-footer" >
                {{'Created on:  ' + rptopic.date.substring(2, 10)}}
              </div>

            </div>
          </div>

          <div>
            <div class="panel {{topicstyle[rptopic.status]}}" ng-show="rptopic.status==='processing'" ng-repeat="rptopic in topics">
              <div class="panel-heading" ng-hide="isTenant()">
                  <span class="badge clickable" data-toggle="modal" data-target="#statusInquiry" ng-click="ctrl.setTopic(rptopic)">{{rptopic.status}}</span>
                  {{"Created By: " + rptopic.lastname + ", " + rptopic.firstname + " <" + rptopic.userid  + ">" }}
              </div>

              <div class="panel-heading" ng-show="isTenant()">
                  <span class="badge">{{rptopic.status}}</span>
                  {{"Created By: " + rptopic.lastname + ", " + rptopic.firstname + " <" + rptopic.userid  + ">" }}
              </div>

              <div class="panel-body clickable" >
                <a ng-click="ctrl.fetchMsgs(rptopic)">{{rptopic.name}}</a>
                <!-- <em>{{'created on:' + topic.date }}</em> -->
              </div>

              <div class="panel-footer" >
                {{'Created on:  ' + rptopic.date.substring(2, 10)}}
              </div>

            </div>
          </div>

          <div>
          
            <div class="panel {{topicstyle[rptopic.status]}}" ng-show="rptopic.status==='finished'" ng-repeat="rptopic in topics">
              <div class="panel-heading" ng-hide="isTenant()">
                  <span class="badge clickable" data-toggle="modal" data-target="#statusInquiry" ng-click="ctrl.setTopic(rptopic)">{{rptopic.status}}</span>
                  {{"Created By: " + rptopic.lastname + ", " + rptopic.firstname + " <" + rptopic.userid  + ">" }}
              </div>

              <div class="panel-heading" ng-show="isTenant()">
                  <span class="badge "  >{{rptopic.status}}</span>
                  {{"Created By: " + rptopic.lastname + ", " + rptopic.firstname + " <" + rptopic.userid  + ">" }}
              </div>

              <div class="panel-body" >
                  <button class="btn btn-danger" data-toggle="modal" data-target="#deletionInquiry" ng-show="ctrl.isLandlord()" ng-click="ctrl.setTopic(rptopic)"><i class="fa fa-eraser"></i> Delete</button>
                <a class="clickable" ng-click="ctrl.fetchMsgs(rptopic)">{{rptopic.name}}</a>
                <!-- <em>{{'created on:' + topic.date }}</em> -->
              </div>

              <div class="panel-footer" >
                {{'Created on:  ' + rptopic.date.substring(2, 10)}}
              </div>

            </div>
          </div>

        </div>

        <!-- messages -->
        <div ng-show="ctrl.mode==='msgs'">
          
          <div>
            <div class="panel {{ctrl.msgStyle(msg)}}" ng-repeat="msg in msgs | orderBy: '-date'">

              <div class="panel-heading">
                {{"From: " + msg.lastname + "," + msg.firstname + " <" + msg.senderid  + ">"}}
              </div>

              <div>
                <button class="btn btn-info">{{"Created On: " + msg.date.substring(2, 10) }}</button>
              </div>

              <div class="panel-body clickable" ng-show="workingTopic()" ng-click="ctrl.setDate()" data-toggle="modal" data-target="#createMsgModal">
                <a>{{msg.message}}</a>
              </div>

              <div class="panel-body clickable" ng-hide="workingTopic()">
                <a>{{msg.message}}</a>
              </div>

              <!-- <div class="panel-footer">
                <a class="btn btn-success" ng-click="ctrl.fetchFile(msg.fname)" ng-show="ctrl.hasFile(msg)">{{msg.fname}}</a>
              </div> -->

              <div class="panel-footer">
                <a ng-show="ctrl.normalFile(msg)" href="/uploads/{{msg.fname}}" class="btn btn-success" download>
                  {{msg.fname}}
                </a>

                <a ng-show="ctrl.imageFile(msg)" href="/uploads/{{msg.fname}}"  download>
                  
                  <img border="0" ng-src="/uploads/{{msg.fname}}" alt="{{msg.fname}}" width="104" height="142">
                </a>
              </div>

            </div>
          </div>

        </div>

        </div>
        </div>

      </div >
      
    </div> 

    {% endraw %}
    
{% endblock %}