{% extends 'partials/layout.html' %}
 
{% block myHead %}

    
    <script src="/javascripts/complaints_registration.js"></script>
    <link href="/stylesheets/complaints.css" rel="stylesheet"/>
    <script src="/javascripts/angular-file-upload.min.js"></script>

{% endblock %}

{% block myBody %}
    {% raw %}


    <div ng-app = "complaintsApp" class="top-buffer">
      <div ng-controller = "complaintsController as ctrl" >

        <!-- buttons -->
        <div>
          <button class="btn btn-default" ng-click="ctrl.setMode('categories')" ng-show="ctrl.mode === 'topics'" >Switch Category</button>
        </div>

        <div>
          <button class="btn btn-default" ng-click="ctrl.setMode('topics')" ng-show="ctrl.mode === 'msgs'" >Switch Issue</button>
        </div>

        <div>
          <button class="btn btn-success" ng-show="ctrl.mode === 'topics'" data-toggle="modal" data-target="#createTopicModal">Log New Issue</button>
        </div>

        <div>
          <button class="btn btn-success" ng-show="ctrl.mode === 'msgs'" data-toggle="modal" data-target="#createMsgModal">Create New Message</button>
        </div>
        
        <!-- Create Topic Modal -->
        <div class="modal fade" id="createTopicModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{"New Issue for " + ctrl.selectedCategory + " Category"}}</h4>
              </div>
              <div class="modal-body">
                
                <form>
                  <div class="form-group">
                    <label for="issue">Issue Description:</label>
                    <textarea class="form-control" ng-model="ctrl.newtopic"></textarea>
                  </div>

                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="ctrl.newTopic()" >Create Issue</button>

                </form>

              </div>
            </div>
          </div>
        </div>


        <!-- Create Message Modal -->
        <div class="modal fade" id="createMsgModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{"Creating Message"}}</h4>
              </div>
              <div class="modal-body">
                
                <form>
                  <div class="form-group">
                    <label for="issue">From:</label>
                    <input type="text"  class="form-control" ng-model="ctrl.from" disabled></input>
                  </div>

                  <div class="form-group">
                    <label for="issue">To:</label>
                    <input type="text" class="form-control" ng-model="ctrl.to" disabled></input>
                  </div>

                  <div class="form-group">
                    <label for="issue">Date:</label>
                    <input type="text" class="form-control" ng-model="ctrl.date" disabled></input>
                  </div>

                  <div class="form-group">
                    <label for="issue">Message:</label>
                    <textarea class="form-control" ng-model="ctrl.newmsg" ></textarea>
                  </div>

                  <div class="form-group">
                    <input type="file" ng-model='files' ng-file-select ng-file-change="onFileSelect(files)" ng-multiple="true" class="app-prompt-upload"/> 
                  </div>

                  <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="ctrl.clear()">Close</button>
                  <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="ctrl.newMsg()">Send</button>

                </form>

              </div>
            </div>
          </div>
        </div>

        <!-- categories -->
        <div ng-show="ctrl.mode === 'categories'" ng-repeat="category in categories" class="panel {{category.css}}" ng-click="ctrl.fetchTopics(category)">
          <div class="panel-heading ">
            {{category.name}} <span class="badge">{{category.count}}</span>
          </div>
          <div class="panel-body" >
            {{category.desc}}
          </div>
        </div>
        

        <!-- topics -->
        <div ng-show="ctrl.mode==='topics'">
          <div>
          
            <div class="panel {{topicstyle[topic.status]}}" ng-show="topic.status==='new'" ng-repeat="topic in topics">
              <div class="panel-heading">
                  <span class="badge" ng-click="ctrl.changeStatus(topic)">{{topic.status}}</span>
                  {{"Created By: " + topic.userid }}
              </div>

              <div class="panel-body" >
                <a ng-click="ctrl.fetchMsgs(topic)">{{topic.name}}</a>
                <!-- <em>{{'created on:' + topic.date }}</em> -->
              </div>

              <div class="panel-footer" >
                {{'Created on:  ' + topic.date.substring(2, 10)}}
              </div>

            </div>
          </div>

          <div>
            <div class="panel {{topicstyle[topic.status]}}" ng-show="topic.status==='processing'" ng-repeat="topic in topics">
              <div class="panel-heading">
                  <span class="badge" ng-click="ctrl.changeStatus(topic)">{{topic.status}}</span>
                  {{"Created By: " + topic.userid }}
              </div>

              <div class="panel-body" >
                <a ng-click="ctrl.fetchMsgs(topic)">{{topic.name}}</a>
                <!-- <em>{{'created on:' + topic.date }}</em> -->
              </div>

              <div class="panel-footer" >
                {{'Created on:  ' + topic.date.substring(2, 10)}}
              </div>

            </div>
          </div>

          <div>
          
            <div class="panel {{topicstyle[topic.status]}}" ng-show="topic.status==='finished'" ng-repeat="topic in topics">
              <div class="panel-heading">
                  <span class="badge" ng-click="ctrl.changeStatus(topic)">{{topic.status}}</span>
                  {{"Created By: " + topic.userid }}
              </div>

              <div class="panel-body" >
                <a ng-click="ctrl.fetchMsgs(topic)">{{topic.name}}</a>
                <!-- <em>{{'created on:' + topic.date }}</em> -->
              </div>

              <div class="panel-footer" >
                {{'Created on:  ' + topic.date.substring(2, 10)}}
              </div>

            </div>
          </div>

        </div>

        <!-- messages -->
        <div ng-show="ctrl.mode==='msgs'">
          
          <div>
            <div class="panel {{ctrl.msgStyle(msg)}}" ng-repeat="msg in msgs | orderBy: '-date'">

              <div class="panel-heading">
                {{"From: " + msg.senderid }}
              </div>

              <div>
                <button class="btn btn-info">{{"Created On: " + msg.date.substring(2, 10) }}</button>
              </div>

              <div class="panel-body" ng-click="ctrl.setDate()" data-toggle="modal" data-target="#createMsgModal">
                <a>{{msg.message}}</a>
              </div>

              <!-- <div class="panel-footer">
                <a class="btn btn-success" ng-click="ctrl.fetchFile(msg.fname)" ng-show="ctrl.hasFile(msg)">{{msg.fname}}</a>
              </div> -->

              <div class="panel-footer">
                <a ng-show="ctrl.normalFile(msg)" href="/uploads/{{msg.fname}}" class="btn btn-success" download>
                  {{msg.fname}}
                </a>

                <a ng-show="ctrl.imageFile(msg)" href="/uploads/{{msg.fname}}"  download>
                  
                  <img border="0" ng-src="/uploads/{{msg.fname}}" alt="{{msg.fname}}" width="104" height="142">
                </a>
              </div>

            </div>
          </div>

        </div>

      </div >
      
    </div> 

    {% endraw %}
    
{% endblock %}