<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">


    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>



</head>



<body>
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">Insta</span>Rent
                </a>
            </div>
        </div>
    </nav>

    <div class = "container">
        <legend>Bank Accounts</legend>

                <form method="POST" id="inst-form" role="form" action="http://localhost:3000/payments/addLandlordAccount">
                    <div class="form-group">
                        <label for="tbAccountNo">Account No</label>
                        <input id="tbAccountNo" class="form-control" type="text" data-stripe="accountNumber">
                    </div>
                    <div class="form-group">
                        <label for="routingno">Routing No</label>
                       <input id="routingno" class="form-control" type="text" data-stripe="routingNumber">
                    </div>
                    <button type="submit" class="btn btn-danger" id="button">Submit</button>
                </form>
    </div>

<script type="text/javascript">
    Stripe.setPublishableKey('pk_test_jwW7JFcTZaD8HmJdFZgeh4TR');
    var stripeResponseHandler = function(status, response) {
        var $form = $('#inst-form');
        if (response.error)
        {
           console.log(response.error);

            $form.find('button').prop('disabled', false);
        }
        else
        {
            console.log(response);
            var token = response.id;
            //$form.append($('<input type="hidden" name="stripeToken" />').val(token));
           // $form.get(0).submit();
            var route = $('#routingno').val();
            var accno = $('#tbAccountNo').val();

            $.ajax(
                    {
                        type: 'POST',
                        url: "/payments/addLandlordAccount",
                        data:{accNo:accno , routeNo:route , tokenID:token},
                        success: function (responseData) {
                            console.log(responseData);

                        }
                    });
        }
    }

    jQuery(function($) {
        $('#inst-form').submit(function(event) {
            // Get the form object.
            var $form = $(this);
            $form.find('button').prop('disabled', true);


            // Create a token with Stripe
            Stripe.bankAccount.createToken({
                country: 'US',
                currency: 'USD',
                routing_number:  $('#routingno').val(),
                account_number: $('#tbAccountNo').val()
            }, stripeResponseHandler);

            return false;
        });
    });


</script>

</body>
</html>
