
{% extends 'partials/mail.html' %}

{% block myBody %}
<div style = "font-size: 24px;">Lease Expires</div>
</div>
                     
</tr>
<tr>
<td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#525252;">
                    
Hi there!,<br/>
We just wanted to let you know that your lease for home at <strong>{{otherProperty.address}}</strong> is going to expire in <strong>30</strong> days<br/>
Please extend your lease and update our website.<br/>
<a href="{{otherProperty.loginLink}}">Login to instaRent!</a>

<br>

{% endblock %}
