
{% extends 'partials/mail.html' %}

{% block myBody %}
<div style = "font-size: 24px;">Reset Your Password</div>
</div>
                     
</tr>
<tr>
<td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#525252;">
                    
<br>
Hi there, <br/><strong>Your email is {{otherProperty.id}}</strong>, You Have indicated that you have forgotten your password associated with this user name for instaRent login. 
<br/>Please click on the following link to reset your password:  
<a href ={{otherProperty.verificationLink}}><strong>Click here</strong></a>

<br>

{% endblock %}
