{% extends 'partials/layout.html' %}
 
{% block myHead %}
    <link href="/stylesheets/myStyle.css" rel="stylesheet"/>
    <script src="/javascripts/roles_selection_popup.js"></script>


    
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;signed_in=true&amp;libraries=places"></script>
    
    <!-- Dropdown related imports 
    <script src="/javascripts/angular-dropdowns.min.js"></script>
    <link href="/stylesheets/angular-dropdowns.css" rel="stylesheet"/>
    -->
{% endblock %}

{% block myBody %}

<div id="page-wrapper" ng-app="ui.managehomes">
    <div id="page-content-wrapper" style="margin-top: 0.5%" ng-controller="ModalDemoCtrl">
        <div class="container-fluid" >
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">
                    Locate your Home!
                    </h2>

                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="/dashboard">Dashboard</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-fw fa-desktop"></i> Manage home
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="pull-right" style="padding-right: 10px;">
                    <label class="btn btn-primary custom" ng-click="open('lg')" style="margin-top:1%">Add home</label>
                    <div class="btn-group custom" dropdown is-open="status.isopen" style="margin-top:1%">
                        <button type="button" class="btn btn-primary custom dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                            Update home <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li ng-repeat="home in homes">
                                <a href="#" ng-click="openForUpdate(home.address, home.userType)"><span ng-bind="home.address"></span></a>
                            </li>
                        </ul>
                    </div>
                    <!--<label class="btn btn-primary">Update home</label>-->
                </div>
            </div>
            <div class="row">
                <!-- Responsive iFrame -->
             <!--iframe-->
                <div id="mapHolder" scrolling="no" class="Flexible-container" marginheight="0" marginwidth="0" >
                
                <!--    <iframe id="mapHolder" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ch/maps?f=q&amp;q=USA&amp;ie=UTF8&amp;output=embed"></iframe>-->
                
                <!--</div>-->
                </div>
            </div>
            <!--/iframe-->
        </div>
    </div>
    
    <style>
        .pac-container {
            z-index: 99999999;
        }
    </style>
    
    <div style="display: None;" ng-controller="ModalDemoCtrl">
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">Add your humble adobe!</h3>
            </div>
            <div class="modal-body">

                <form class="form-horizontal" name="myForm" novalidate>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="userType" class="col-lg-3 control-label">Who are you?</label>
                            <div class="btn-group col-lg-9" id="userType">
                                <label class="btn btn-primary" ng-disabled="isDisabled" ng-model="radioModel" btn-radio="'Landlord'">Landlord</label>
                                <label class="btn btn-primary" ng-disabled="isDisabled" ng-model="radioModel" btn-radio="'Tenant'">Tenant</label>
                            </div>
                        </div>

                        <section ng-show="radioModel == 'Landlord'">
                            <div class="form-group">
                                <label for="description" class="col-lg-3 control-label">Description:</label> 
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" id="description" ng-model="owner_description" placeholder="Enter short description" ></input>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="address" class="col-lg-3 control-label">Address:</label> 
                                <div class="col-lg-9">
                                    <landlord-Container>
                                        <input type="text" ng-disabled="isDisabled" class="form-control" id="owner_address" name="owner_address" ng-model="owner_address" 
                                        placeholder="Enter Street address" required></input>
                                        <span style="color:red" ng-show="myForm.owner_address.$dirty && myForm.owner_address.$invalid">
                                        <span ng-show="myForm.owner_address.$error.required"> The owner address is required and should not be empty</span></span>
                                    </landlord-Container>
                                </div>
                            </div>
                        </section>

                        <section ng-show="radioModel == 'Tenant'">

                            <div class="form-group">
                                <label for="description" class="col-lg-3 control-label">Description:</label> 
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" id="description" ng-model="tenant_description" placeholder="Enter short description"></input>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="address" class="col-lg-3 control-label">Address:</label> 
                                <div class="col-lg-9">
                                    <tenant-Container>
                                        <input type="text" ng-disabled="isDisabled" class="form-control" id="tenant_address" name="tenant_address" ng-model="tenant_address" autocomplete="on" placeholder="Enter Street address" required>
                                        </input>
                                        <span style="color:red" ng-show="myForm.tenant_address.$dirty && myForm.tenant_address.$invalid">
                                       <span ng-show="myForm.tenant_address.$error.required"> The tenant address is required and should not be empty</span></span>
                                    </tenant-Container>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="landlordId" class="col-lg-3 control-label">Landlord email:</label> 
                                <div class="col-lg-9">
                                    <input type="email" ng-disabled="isDisabled" class="form-control" id="landlordId" name="landlordId"  ng-model="tenant_landlordEmail" placeholder="Enter Landlord's email address" required></input>
                                    <span style="color:red" ng-show="myForm.landlordId.$dirty && myForm.landlordId.$invalid">
                                    <span ng-show="myForm.landlordId.$error.required"> The landlord email is required and should not be empty</span>
                                    <span ng-show="myForm.landlordId.$error.email"> The landlord email is not invalid</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="leasePeriodStart" class="col-lg-3 control-label">Lease Start Date:</label> 
                                <div class="col-lg-9">
                                    <p class="input-group">            
                                        <input type="text" id="leasePeriodStart" class="form-control" datepicker-popup="{{format}}" 
                                        ng-model="tenant_leaseStartDate" is-open="startOpened" datepicker-options="dateOptions" 
                                        ng-required="true" close-text="Close" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="openStartDate($event)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="leasePeriodEnd" class="col-lg-3 control-label">Lease End Date:</label> 
                                <div class="col-lg-9">
                                    <p class="input-group">            
                                        <input type="text" id="leasePeriodEnd" class="form-control" datepicker-popup="{{format}}" ng-model="tenant_leaseEndDate" is-open="endOpened"
                                            datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="openEndDate($event)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="securityDeposit" class="col-lg-3 control-label">Security Deposit:</label> 
                                <div class="col-lg-9">
                                    <input type="number" class="form-control" id="securityDeposit" name="securityDeposit" min="0" ng-model="tenant_securityDeposit" placeholder="Enter the Security Deposit" required></input>
                                    <span style="color:red" ng-show="myForm.securityDeposit.$dirty && myForm.securityDeposit.$invalid">
                                    <span ng-show="myForm.securityDeposit.$error.required"> The security deposit is required and should not be empty</span>
                                    <span ng-show="myForm.securityDeposit.$error.number"> The security deposit is not invalid, should be a positive number</span>
                                    <span ng-show="myForm.securityDeposit.$error.min"> The security deposit is not invalid, should be a positive number</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="rentPerMonth" class="col-lg-3 control-label">Rent per month:</label> 
                                <div class="col-lg-9">
                                    <input type="number" class="form-control" id="rentPerMonth" name="rentPerMonth" min="0" ng-model="tenant_rentPerMonth" placeholder="Enter the rent per month" required></input>
                                    <span style="color:red" ng-show="myForm.rentPerMonth.$dirty && myForm.rentPerMonth.$invalid">
                                    <span ng-show="myForm.rentPerMonth.$error.required"> The rent per month is required and should not be empty</span>
                                    <span ng-show="myForm.rentPerMonth.$error.number"> The rent per month is not invalid, should be a positive number</span>
                                    <span ng-show="myForm.rentPerMonth.$error.min"> The rent per month is not invalid, should be a positive number</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tenantIds" class="col-lg-3 control-label">Add Other tenants:</label> 
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" id="tenantIds" name="tenantIds" ng-model="tenant_tenantsEmails" placeholder="Enter other tenants email ids" multiple-emails required></input>
                                    <span style="color:red" ng-show="myForm.tenantIds.$dirty && myForm.tenantIds.$invalid">
                                    <span ng-show="myForm.tenantIds.$error.required"> The tenant Id is required and should not be empty</span>
                                    <span ng-show="myForm.tenantIds.$invalid"> The tenant Id is not invalid, should be a list of emails</span>
                                    </span>
                                </div>
                            </div>
                        </section>
                        <div class="form-group col-lg-12 alert alert-danger alert-error" ng-bind="myError" ng-show="isError" id="error">                            
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" 
                     ng-disabled="myForm.owner_address.$dirty && myForm.owner_address.$invalid || 
                     myForm.tenant_address.$dirty && myForm.tenant_address.$invalid || 
                     myForm.landlordId.$dirty && myForm.landlordId.$invalid || 
                     myForm.securityDeposit.$dirty && myForm.securityDeposit.$invalid || 
                     myForm.rentPerMonth.$dirty && myForm.rentPerMonth.$invalid || 
                     myForm.tenantIds.$dirty && myForm.tenantIds.$invalid"  
                     ng-click="ok()">OK</button>

                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </script>
      </div>    
    <script type="text/javascript">(function () {
        return window.SIG_EXT = {};
      })();
    </script>
</div>

{% endblock %}