<!DOCTYPE html>
<!-- saved from url=(0043)http://getbootstrap.com/examples/jumbotron/ -->
<html lang="en">
    <head>
        
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>instaRent</title>
    
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        
    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <link href="/stylesheets/myStyle.css" rel="stylesheet"/>
    <script src="/javascripts/roles_selection_popup.js"></script>
    
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;signed_in=true&amp;libraries=places"></script>
    <link href="/stylesheets/sidebar.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body ng-app="ui.bootstrap.demo">

    <!--
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container" ng-controller="ModalDemoCtrl">
          <label class="btn navbar-brand" ng-click="open('lg')" >instaRent</label>
      </div>
    </div>
    -->
    
    <% include partials/header.ejs %>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    
    <div id="page-content-wrapper">
      <div class="container-fluid" style="margin-top: 4%">        
        <div class="row">
            <div class="col-lg-12">
                <h1>Locate your Home!</h1>
                <!-- Responsive iFrame -->
                <div class="Flexible-container">
                    <iframe width="425" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ch/maps?f=q&amp;q=Troy,NY&amp;ie=UTF8&amp;output=embed&amp;iwloc=near"></iframe>
                </div>
                <br/>
                <p><a class="btn btn-primary btn-lg" href="http://getbootstrap.com/examples/jumbotron/#" role="button" style="margin-bottom: 30px">Learn more »</a></p>
            </div>
        </div>
      </div>
    </div>
    
      <!--
      <script type="text/javascript">
        regsiterForAutoComplete1();
      </script>
        -->   
        <style>
            .pac-container {
                z-index: 99999999;
            }
        </style>
    
    <div style="display: None;" ng-controller="ModalDemoCtrl">
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">Add your humble adobe!</h3>
            </div>
            <div class="modal-body">

                <form class="form-horizontal" >
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="userType" class="col-lg-3 control-label">Who are you?</label>
                            <div class="btn-group col-lg-9" id="userType" ng-init="radioModel='Landlord'">
                                <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Landlord'">Landlord</label>
                                <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Tenant'">Tenant</label>                
                            </div>
                        </div>

                        <section ng-show="radioModel == 'Landlord'">
                            <div class="form-group">
                                <label for="description" class="col-lg-3 control-label">Description:</label> 
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" id="description" placeholder="Enter short description"></input>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="address" class="col-lg-3 control-label">Address:</label> 
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" id="address" placeholder="Enter Street address"></input>
                                </div>
                            </div>
                        </section>

                        <div ng-show="radioModel == 'Tenant'">
                            <div class="form-group">
                                <label for="description" class="col-lg-3 control-label">Description:</label> 
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" id="description" placeholder="Enter short description"></input>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="address" class="col-lg-3 control-label">Address:</label> 
                                <div class="col-lg-9">
                                    <tenant-Container>
                                        <input type="text" class="form-control" id="autocomplete" autocomplete="on" placeholder="Enter Street address">
                                        </input>
                                    </tenant-Container>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="landlordId" class="col-lg-3 control-label">Landlord email:</label> 
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" id="landlordId" placeholder="Enter Landlord's email address"></input>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="leasePeriodStart" class="col-lg-3 control-label">Lease Start Date:</label> 
                                <div class="col-lg-9">
                                    <p class="input-group">            
                                        <input type="text" id="leasePeriodStart" class="form-control" datepicker-popup="{{format}}" ng-model="startDate" 
                                        is-open="startOpened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="openStartDate($event)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="leasePeriodEnd" class="col-lg-3 control-label">Lease End Date:</label> 
                                <div class="col-lg-9">
                                    <p class="input-group">            
                                        <input type="text" id="leasePeriodEnd" class="form-control" datepicker-popup="{{format}}" ng-model="endDate" is-open="endOpened"
                                            datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="openEndDate($event)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="securityDeposit" class="col-lg-3 control-label">Security Deposit:</label> 
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" id="securityDeposit" placeholder="Enter the Security Deposit"></input>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="rentPerMonth" class="col-lg-3 control-label">Lease Period:</label> 
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" id="leasePeriod" placeholder="Enter the lease period"></input>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tenantIds" class="col-lg-3 control-label">Add Other tenants:</label> 
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" id="tenantIds" placeholder="Enter other tenants email ids"></input>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </script>
      </div>    
    
    <!--<div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <p class="navbar-text">© instaRent 2015</p>
        </div>
    </div>-->
    <% include partials/footer.ejs %>

    
<script type="text/javascript">(function () {
        return window.SIG_EXT = {};
      })();
  </script></body></html>