<!doctype html>
<html lang="en">
  <head>
     <title>InstaRent SignUp</title>
	 <meta name="viewport" content="width=device-width, initial-scale=1">
      
     <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	 <link rel="stylesheet" href="http://lipis.github.io/bootstrap-social/bootstrap-social.css">
	 <link rel="stylesheet" href="./stylesheets/signup_styles.css">
	 <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
     
    
	 
  </head>

<body>
   
    
    <div class="container" id="main">
	  <div class="row">
	   <div class="col-md-5">
        <div class="panel panel-default hide centered-form panel-transparent" id="confirmation">
        		<div class="panel-heading">
                    <h1 class="panel-title"><strong>Confirmation Required- Check email!</strong></h1>
			    </div>
                <div class="panel-body panel-success">
                    We have sent you a confirmation email. Please check your email and click on the link provided by us to                               confirm your acceptance and redirect to login. Thanks!
                </div>        
         </div>
           
        <div class="centered-form">
        	<div class="panel panel-default" id="signUpPanel">
        		<div class="panel-heading">
			    		<h1 class="panel-title">Sign up !!  <span class="text-success"> It's free!</span></h1>
			    </div>
			 			<div class="panel-body">
			    		<form role="form" id="signup" method="post" >
			    		 <div class="row">
			    			 <div class="col-xs-6 col-sm-6 col-md-6">
			    				<div class="form-group">
			                      <input type="text required" name="first_name" id="first_name" class="form-control input-lg" placeholder="First Name">
			    				</div>
			    			  </div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="text required" name="last_name" id="last_name" class="form-control input-lg" placeholder="Last Name">
			    					</div>
			    				</div>
			    		 </div>
						 
                            <div class="row">
							     <div class="col-xs-6 col-sm-6 col-md-6">
									<div class="form-group">
										<input type="email required" name="email" id="email" class="form-control input-lg" placeholder="Email Address">
									</div>
								 </div>
								 <div class="col-xs-6 col-sm-6 col-md-6">
								    <div class="form-group">
										<input type="tel" name="number" id="number" class="form-control input-lg" placeholder="Phone no.">
									</div>
								 </div>
							</div>
								 
								 

			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password">
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="Confirm Password">
			    					</div>
			    				</div>
			    			</div>
                            
                            
                               <div class="row">
                                   <div class="col-md-9 col-md-offset-3">
                                       <div id="messages" style="color: red">
                                           {% if foo %}
                                              <span style="color: red">This email is already registered!</span>
                                           {% endif %}
                                       </div>
                                   </div>
                               </div>
                               
			    			
			    			<input type="submit" value="Register" class="btn btn-info btn-block" id="reg">
					        </br><div> Already Have an account? <a href='/login'>login!</a></div>
			    		    
			    		</form>
					
						  </br>
						   <div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
									<a id="facebook" href='/auth/facebook' class="btn btn-block btn-social btn-facebook" >
										<i class="fa fa-facebook"></i> Sign in with Facebook
									</a>
							    </div>
								<div class="col-xs-6 col-sm-6 col-md-6">
									<a id="google" href='/auth/google' class="btn btn-block btn-social btn-google-plus" >
										<i class="fa fa-google-plus"></i> Sign in with Google
						            </a>
							   </div>
						   </div>
			    	</div>
	    		</div>
    		</div>
    	</div>
		<div class="col-md-1"></div>
		<div class="col-md-5" id="text">
		
		   
               <h1>Forget about rent. <span class="">This will blow your mind.</span></h1></br>
			   <p><h4 id="this">InstaRent payments are secure and automatic.</h4></p></br>
               <p><h4>End-to-End Rental management. Hassle free transactions.</h4></p></br>
               <p><h4>No more checks. No more fees.</h4></p></br>
               <p><h4>Reusable, secure rental applications.</h4></p></br>
			   
		</div>
	  </div>
		
    </div>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script type="text/javascript" src="/javascripts/sign-up.js"></script>
 <script type="text/javascript"       src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"> </script>
      <link rel="stylesheet" href=    "http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/css/bootstrapValidator.min.css"/>
</body>
</html>