.background-image{
	background-image: url("/images/background.jpg");
	background-size: cover;
  display: block;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  height: 800px;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1;
  min-height:100%;
  }

.panel{
  background: rgba(255, 255, 255, 0.35);
  /*border-radius: 3px;*/
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  top: 100px;
  /*left: 15%;
  max-width: 65%; */
  position: relative;
 /* margin-left: 05px;
  margin-right: 05px; */
  right: 0;
  z-index: 2;
  padding: 0 10px;
}
.panel .panel-heading{
	margin-top: 10px;
}

.hide{
 display: none;    
}

no-gutter [class*='col-']:not(:first-child),.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right:0;
  padding-left:0;
}

#qrcode{
    padding-top: 25px;

}

h3 {
	font-family: 'Allerta', Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 10px;
}

#forgot_password{
margin-top: 15px;
    font-style: normal;
	font-variant: normal;
	font-weight: 500;
}




