/* Flexible iFrame */

.Flexible-container {
    position: relative;
    padding-bottom: 48%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.Flexible-container iframe,   
.Flexible-container object,  
.Flexible-container embed {
    position: absolute;
    top: 0;
    left: 1%;
    right: 1%;
    width: 98%;
    height: 80%;
}