body{
	background-image: url("/images/back9.jpg");
    background-size: cover;

}



.container{
margin-left: 100px
}

#text{
  margin-top: 2.8%;

}



h4{
color: #332914;
letter-spacing:2px;
font-weight: bold;

}

.hide{
 display: none;    
}

.panel{
  background: rgba(255, 255, 255, 0.35);
  /*border-radius: 3px;*/
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  top: 100px;
  /*left: 15%;
  max-width: 65%; 
  position: relative;
 /* margin-left: 05px;
  margin-right: 05px; */
  right: 0;
  z-index: 2;
  padding: 0 10px;
}
.panel .panel-heading{
	margin-top: 10px;
}

h3 {
	font-family: 'Allerta', Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 10px;
}

#heading{
font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
font-size: 50px;
line-height: 65px;
}

h4{
 font-family: 'Vollkorn', Georgia, Times, serif;
    font-size: 25px;
    line-height: 25px;   
}




